---
import * as i18n from "src/i18n";
const lang = i18n.local(Astro.url.pathname);
const l = i18n.l(Astro.url);
const t = i18n.t(lang, {
	activityName: {
		"zh-Hant": "SITCON 2026",
		"zh-Hans": "SITCON 2026",
		en: "SITCON 2026"
	},
	systemTitle: {
		"zh-Hant": "報名系統後台",
		"zh-Hans": "报名系统后台",
		en: "Admin Panel"
	},
	overview: {
		"zh-Hant": "總覽",
		"zh-Hans": "总览",
		en: "Overview"
	},
	ticketTypes: {
		"zh-Hant": "票種管理",
		"zh-Hans": "票种管理",
		en: "Ticket Types"
	},
	forms: {
		"zh-Hant": "表單管理",
		"zh-Hans": "表单管理",
		en: "Forms"
	},
	invitationCodes: {
		"zh-Hant": "邀請碼管理",
		"zh-Hans": "邀请码管理",
		en: "Invitation Codes"
	},
	registrations: {
		"zh-Hant": "報名資料",
		"zh-Hans": "报名资料",
		en: "Registrations"
	},
	editIntro: {
		"zh-Hant": "編輯說明",
		"zh-Hans": "编辑说明",
		en: "Edit Intro"
	},
	userPlaceholder: {
		"zh-Hant": "管理者",
		"zh-Hans": "管理员",
		en: "Admin"
	},
	logout: {
		"zh-Hant": "登出",
		"zh-Hans": "登出",
		en: "Logout"
	},
	backHome: {
		"zh-Hant": "回到首頁",
		"zh-Hans": "回到首页",
		en: "Back to Home"
	}
});
---

<aside>
	<div class="activity">{t.activityName}</div>
	<div class="title">{t.systemTitle}</div>
	<nav>
		<ul>
			<li><a href={l("/admin/")}>{t.overview}</a></li>
			<li><a href={l("/admin/tickets/")}>{t.ticketTypes}</a></li>
			<li><a href={l("/admin/forms/")}>{t.forms}</a></li>
			<li><a href={l("/admin/invites/")}>{t.invitationCodes}</a></li>
			<li><a href={l("/admin/registrations/")}>{t.registrations}</a></li>
			<li><a href={l("/admin/intro/")}>{t.editIntro}</a></li>
		</ul>
	</nav>
	<div class="links">
		<div class="user">{t.userPlaceholder}</div>
		<div class="logout"><a href={l("/admin/logout")}>{t.logout}</a>・<a href="/">{t.backHome}</a></div>
		<div class="logout"><a href={l("", "zh-Hant")}>繁</a>・<a href={l("", "zh-Hans")}>簡</a>・<a href={l("", "en")}>EN</a></div>
	</div>
</aside>

<style is:global>
	main {
		padding-top: 5rem;
		max-width: unset;
		margin-left: 17rem;
	}
	aside {
		background-color: var(--color-gray-950);
		padding: 2rem;
		width: 17rem;
		height: 100dvh;
		position: fixed;
		display: flex;
		flex-direction: column;
		font-size: 1.2rem;
	}
	h1 {
		margin-bottom: 2%;
	}
	.activity {
		font-size: 1.2rem;
	}
	.title {
		font-size: 2rem;
	}
	nav {
		margin-top: 2rem;
		flex: 1;
	}
	nav li {
		list-style: none;
		margin-bottom: 1rem;
	}
	nav ul {
		padding-left: 0.8rem;
	}
	aside a {
		text-decoration: none;
	}
	aside a:hover {
		text-decoration: underline;
	}
</style>
