---
const { label, name, options, required = false } = Astro.props;
---

<fieldset>
	<legend>{label}</legend>
	{
		options.map(option => (
			<div class="checkbox-option">
				<input type="checkbox" id={`${name}-${option}`} name={name} value={option} />
				<label for={`${name}-${option}`}>{option}</label>
			</div>
		))
	}
</fieldset>

<style>
	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}
	legend {
		display: block;
		margin-bottom: 0.5rem;
		font-weight: bold;
	}
	.checkbox-option {
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;
	}
	input[type="checkbox"] {
		margin-right: 0.5rem;
	}
	label {
		cursor: pointer;
	}
</style>
