---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import { Content as TermsContent } from "src/pages/markdown/terms.md";
import * as i18n from "src/i18n";
const lang = i18n.local(Astro.url.pathname);
const t = i18n.t(lang, {
	term: {
		"zh-Hant": "使用者服務條款",
		"zh-Hans": "用户服务条款",
		en: "Terms of Service"
	},
	agree: {
		"zh-Hant": "我同意以上條款",
		"zh-Hans": "我同意以上条款",
		en: "I agree to the above terms"
	},
	signUp: {
		"zh-Hant": "註冊",
		"zh-Hans": "注册",
		en: "Sign Up"
	},
	newAccount: {
		"zh-Hant": "註冊新帳號",
		"zh-Hans": "注册新账号",
		en: "Create New Account"
	}
});
const l = i18n.l(Astro.url);
---

<Layout i18n={t.t} path="login" title={t.login} theme="#FFF" lang={lang}>
	<Nav />
	<main transition:animate="fade">
		<section>
			<h1>{t.newAccount}</h1>
			<div class="content">
				<TermsContent />
			</div>
			<div class="input">
				<input type="checkbox" name="" id="checkbox" />
				<label for="checkbox">{t.agree}</label>
			</div>
			<button id="submit-btn" class="button" type="submit" onclick="login()">{t.signUp}</button>
		</section>
	</main>

	<style is:inline>
		body {
			position: relative;
		}
		h1 {
			margin-block: 1rem;
			text-align: center;
		}

		section {
			padding-top: 5rem;
			display: flex;
			flex-direction: column;
			max-height: calc(100vh - 4rem);
			gap: 1rem;
		}

		.button {
			margin: auto;
		}
		label {
			cursor: pointer;
		}
		.content {
			border: 1px solid var(--color-gray-900);
			padding: 1.5rem;
			height: 0;
			overflow-y: auto;
			flex: 1;
		}
	</style>
</Layout>
